$break-xs: 300px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

img {
    width: 64px;
    height: 64px;
}

mat-grid-list {
    margin-bottom: 10px;
}

.btn-google {
    background-color: #ea4335;
}

.btn-facebook {
    background-color: #4267b2;
}

.btn-linkedin {
    background-color: #0077B5;
}

.registration-card {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.sign-in-card {
    @media (min-width: $break-xs) {
        min-width: 280px;
    }
    @media (min-width: $break-sm) {
        min-width: 350px;
    }
}

.sign-in-form {
    @media (min-width: $break-xs) {
        max-width: 280px;
    }
    @media (min-width: $break-sm) {
        max-width: 350px;
    }
}